body{
    flex-direction: row;
    display: flex;
    width: 99%; 
    height: 99%;
    background-color: #F5FAFF;
    border: 5px solid #1E1E1E;
}
nav{
    margin: 10px;
    height: 150px;
    width: 1400px;
    border: 3px solid #1E1E1E;
    background-color: #F5FAFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    font-family: "Nunito", sans-serif;
    background-color: #0B8673;
    color: #F5FAFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    font-size: x-large;
}
article{
    height: 700px;
    width: 1400px;
    background-color: #F5FAFF;
    border: 3px solid #1E1E1E;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#profil{
    margin: 50px;
    margin-top: 30px;
    height: 300px;
    width: 300px;
    background-color: black;
}
#opis{
    margin: 20px;
    margin-top: 30px;
    width: 880px;
    height: 300px;
    background-color: aquamarine;
}
#praca{
    margin-left: 50px;
    margin-bottom: 30px;
    width: 350px;
    height: 300px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    border: 3px solid #1E1E1E;
}
#praca2{
    text-align: center;
    width: 350px;
    height: 75px;
    background-color: #F5FAFF;
}
#kontakt{
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #F5FAFF;
    border: 3px solid #1E1E1E;
    margin-left: 50px;
}
#kontakt2{
    text-align: center;
    width: 350px;
    height: 75px;
    background-color: #1E1E1E;
    color: #F5FAFF;
}
img{
    width: 300px;
    height: 300px;
}
#blok2{
    display: flex;
    height: 400px;
    width: 1300px;
    justify-content: center;
    justify-content: space-between;
}
.blok1{
    height: 200px;
    width: 400px;
    border: 3px solid #1E1E1E;
}
#rodzic{
    margin: 10px;
    width: 400px;
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}
#programy{
    font-family: "Nunito", sans-serif;
}