@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

ul {
    list-style-type: "- ";
}

body {
    flex-direction: column;
    display: flex;
    width: 99%;
    height: 99%;
    background-color: #F5FAFF;
    border: 5px solid #1E1E1E;
    font-family: "Nunito", sans-serif;
}

nav {
    margin: 10px;
    height: 150px;
    width: 1400px;
    border: 3px solid #1E1E1E;
    background-color: #F5FAFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    font-family: "Nunito", sans-serif;
    background-color: #0B8673;
    color: #F5FAFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    font-size: x-large;
}

article {
    height: 700px;
    width: 1400px;
    background-color: #F5FAFF;
    border: 3px solid #1E1E1E;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#profil {
    margin: 50px;
    margin-top: 30px;
    height: 250px;
    width: 250px;
    background-color: black;
}

#opis {
    display: flex;
    margin: 20px;
    margin-top: 30px;
    margin-left: 5px;
    width: 880px;
    height: 300px;
    background-color: #F5FAFF;
    flex-wrap: wrap;
}

#praca {
    margin-left: 50px;
    margin-bottom: 30px;
    width: 400px;
    height: 325px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    border: 3px solid #1E1E1E;
    color: #F5FAFF;
    font-size: 23px;

}

#praca2 {
    text-align: center;
    width: 400px;
    height: 75px;
    background-color: #F5FAFF;
    font-family: "Nunito", sans-serif;
    color: #1E1E1E;
}

#kontakt {
    width: 400px;
    height: 325px;
    display: flex;
    background-color: #F5FAFF;
    border: 3px solid #1E1E1E;
    margin-left: 50px;
    flex-direction: column;
}

#kontakt form {
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#kontakt form input {
    width: 70%;
    height: 30px;
    padding: 7px;
    margin: 8px;
    border: 2px solid black;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

#kontakt form textarea {
    width: 85%;
    height: 95px;
    padding: 10px;
    margin: 8px;
    border: 2px solid black;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

#kontakt2 {
    width: 400px;
    height: 100px;
    background-color: #1E1E1E;
    color: #F5FAFF;
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 250px;
    height: 250px;
}

#blok2 {
    display: flex;
    height: 400px;
    width: 1300px;
    justify-content: center;
    justify-content: space-evenly;
}

#theme {
    flex-direction: column;
    height: 150px;
    width: 400px;
    border: 3px solid #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
}

#rodzic {
    margin: 10px;
    width: 400px;
    height: 893px;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}

#programy {
    font-family: "Nunito", sans-serif;
    height: 560px;
}

#Github {
    width: 100px;
}

#darkmode {
    width: 75px;
}

#technology {
    font-family: 'Lilita one';
    font-size: 30px;
}

#send {
    width: 50px;
    height: 50px;

}

#powered {
    height: 150px;
    width: 400px;
    border: 3px solid #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    gap: 15px;
}

#kto {
    width: 500px;
    height: 75px;
    background-color: #F5FAFF;
    font-family: 'Lilita one';
    font-size: 45px;
}

#kim {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

#bloczek {
    display: flex;
    justify-content: flex-end;
    background-color: #F5FAFF;
    width: 380px;
}

#ikony {
    width: 50px;
    height: 90px;
    display: flex;
    flex-direction: column;
}

#cos {
    width: 330px;
    height: 75px;
}

.gmg {
    width: 40px;
}

#tekst {
    height: 75px;
    width: 380px;
}
#button{
    width: 70px;
    height: 70px;
    align-self: center;
    border-radius: 50%;
}
#buttond{
    width: 85px;
    border-radius: 50%;
    height: 85px;
}
#megarodzic{
    display: flex;
    flex-direction: row;
}
hr{
    border-top: 7px dashed #1E1E1E;
    width: 98%;
}
#java{
    font-size: 23px;
}
