@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter";
}

#futurit{
    background-color: #D9D9D9;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
#zdjecief{
    margin-left: 50px;
    height: 115px;
    width: 312px;
}
#kursy{
    display: flex;
    justify-self: flex-end;
    font-size: 120%;
    width: 320px;
    margin-right: 60px;
    text-align: center;
}
#linki{
    background-color: #4B4B4B;
    width: 75%;
    height: 50px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: #000000;
    background-color: #D9D9D9
}
a:hover{
    background-color: #EAC100;
    transition: 0.2s;
}
#gl{
    background-color: #EAC100;
    margin-left: 40px;
    width: 150px;
    height: 35px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-size: 90%;
}
#rat{
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 90%;
}
#part{
    text-decoration: none;
    margin-left: 20px;
    color: #000000; 
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 90%;
}
#tło{
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    height: 200px;
    width: 75%;
    background-image: url(498784722-05907420-fb08-4f53-9bf5-b3602198a61e.png);
}
#nami{
    margin: 0;
}
#plan{
    font-size: 200%;
    text-align: center;
    width: 300px;
}
#rodzic{
    width: 650px;
    height: 550px;
}
table{
    width: 100%;
    height: 63%;
}
.szary{
    background-color: #D9D9D9;
    width: 45%;
    text-align: center;
}
.zolty{
    background-color: #EAC100;
    width: 45%;
    text-align: center;
}
#stopka{
    background-color: #D9D9D9;
    height: 79px;
    margin-top: 30px;
    width: 650px;
    display: flex;
    flex-direction: row;
}
.zdj{
    width: 20px;
    height: 20px;
}
#rodz{
    display: flex;
    flex-direction: column;
}
#mapa{
    height: 79px;
    margin-left: 123px;
}
button{
    width: 230px;
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #EAC100;
    margin-left: 150px;
    font-size: 110%;
    justify-content: center;
    font-weight: 700;
    border-radius: 5px;
}
main{
    display: flex;
    flex-direction: row;
}
#formularz{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 170%;
    font-weight: 700;
}
form{
    background-color: #D9D9D9;
    width: 38%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-self: end;
    margin-left: 30px;
}
#send{
    width: 50px;
    height: 50px;
}
#bigrodzic{
    display: flex;
    flex-direction: row;
}
#imie{
    margin-top: 20px;
    width: 700px;
    height: 50px;
    border-radius: 10px;
    border: none;
}
#numer{
    margin-top: 20px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-size: 110%;
    border: none;
}
#wiado{
    margin-top: 20px;
    width: 700px;
    height: 230px;
    border-radius: 10px;
    border: none;
}
.la{
    font-size: 120%;
    font-weight: 600;
    margin-top: 10px;
}
#programowanie{
    background-color: #D9D9D9;
    height: 50px;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 200%;
}
#git{
    display: flex;
    flex-direction: row;
    align-items: center;
}
hr{
    width: 400px;
    border: 2px solid #000000;
    margin: 0;
}
#prog{
    margin: 0;
}
