@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Gaegu&display=swap');
body{
    font-family: "Fuzzy Bubbles", sans-serif;
}
#bigr{
    display: flex;
    flex-direction: row;
    width: 1800px;
}
aside{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 602px;
    justify-content: space-evenly;
    text-align: center;
}
a{
    text-decoration: none;
    color: #FFC10D;
    border-color: #194F82;
    font-size: 200%;
    text-shadow: -1px -1px 0 #194F82, 1px -1px 0 #194F82, -1px 1px 0 #194F82, 1px 1px 0 #194F82;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: #194F82;
}
#bi{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
#ski{
    height: 300px;
    width: 300px;
}
header{
    display: flex;
    flex-direction: row;
}
#mapa{
    width: 100px;
    height: 100px;
}
#nag{
    background-color: #194F82;
    border-bottom-left-radius: 10px;
    width: 1800px;
    height: 120px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#wyc{
    width: 300px;
    margin: 10px;
}
#rodzic{
    display: flex;
    flex-direction: row;
    height: 800px;
}
#bid{
    display: flex;
    flex-direction: row;
    width: 1887px;
}
main{
    display: flex;
    flex-direction: row;
    width: 1000px;
}
li{
    width: 400px;
    height: 70px;
    border-radius: 5px;
    list-style: inside;
 }
li:nth-child(even){
    background-color: #FFC10D;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
#koszta{
    width: 1000px;
    height: 150px;
    background-color: #194F82;
    border-radius: 5px;    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #FFC10D;
}
.p{
    font-size: 150%;
    font-weight: 720;
}
#p1{
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: center;
}
#p2{
    display: flex;
    flex-direction: row;
    width: 800px;
    
}
#p3{
    display: flex;
    flex-direction: row;
    width: 800px;
}
#wycieczka{
    width: 300px;
    margin-left: 200px;
    height: 50px;
    display: flex;
    justify-self: center;
    margin-top: 20px;
}
#dorosli{
    width: 300px;
    margin-left: 200px;
    height: 50px;
    display: flex;
    justify-self: center;
    margin-top: 20px;
}
#dzieci{
    width: 300px;
    margin-left: 200px;
    height: 50px;
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

#autor{
    background-color: #194F82;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
